{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}

<div id="ContactUs">
    <h1>Contact Us</h1>
    <br>
    <p>Select the reason for contacting</p>
    <select class="form-select" aria-label="Default select example" name="query" id="query">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <br>
    <p>Enter your name</p>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
    </div>

    <br>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary">Cancel</button>

</div>

{% endblock %}