{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div id="ContactUs">
    <h1>Contact Us</h1>
    <form action="#" method="post">
        <div class="form-shape">
            <label for="query">
                Type of Query
            </label>
            <select name="query" id="query">
                <option value="select" selected>
                    Select
                </option>
                <option value="order">
                    Order related Issues
                </option>
                <option value="site">
                    Site related Issues
                </option>
                <option value="complaint">
                    Complaint related Issues
                </option>
                <option value="others">
                    Others
                </option>
            </select>
        </div>
        <div class="form-shape">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your Name">
        </div>
        <div class="form-shape">
            <label for="email">Email-Id</label>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-shape">
            <label for="pho">Phone Number</label>
            <input type="phone" name="phone" id="pho" placeholder="Enter your Phone no">
        </div>
        <div id="radio">
            Are you a member of Wunderbar Shop:
            Yes <input type="radio" name="eligible">
            No <input type="radio" name="eligible">
        </div>
        <div class="form-shape">
            <label for="message">
                Elaborate your query
            </label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>
</div>
{% endblock %}